.page {
    width: 100%;
    background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    gap: 3rem;
}

.page-left {
    width: 50%;
    color: white;
    text-align: left;
    margin-top: -20rem;
}

.page-title {
    font-family: "Karla", sans-serif;
    font-size: 3rem;
    color: #f5deb3;
}

.page-text {
    font-family: "Karla", sans-serif;
    font-size: 1.2rem;
    color: wheat;
    margin-top: 1rem;
}

.page-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-right img {
    width: 300px;
    max-width: 80%;
    height: auto;
    margin: -16rem -10rem 0 0;
}

#logo-header {
    display: none;
}

/**/
.timeline {
    position: relative;
    max-width: 800px;
    margin: auto;
  }
  
  .timeline-item {
    position: relative;
    padding: 20px 40px;
    width: 50%;
  }
  
  .timeline-item.left {
    text-align: right;
    left: 0;
  }
  
  .timeline-item.right {
    text-align: left;
    left: 50%;
  }
  
  .timeline-icon {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transform: translateX(-50%);
  }
  
  .timeline-item .timeline-content {
    padding: 10px 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
/**/

@media (max-width: 768px) {
    .page {
        flex-direction: column;
        padding: 1rem 2rem;
        gap: 10px;
    }

    .page-left {
        width: 100%;
        margin-top: 0;
    }

 
    /* Estilos para pantallas de 768px o menos (responsive) */
    .page-left-header {
        display: flex; /* Muestra el header en pantallas pequeñas */
        align-items: center;
        margin-bottom: 1rem;
    }

    .page-left-header img {
        width: 50px;
        margin-right: 1rem;
    }

    .page-right {
        display: none; /* Oculta el logo de la derecha en responsive */
    }
    #logo-header {
        display: block;
    }
    #logo-bottom{
        display: none;
    }
}
