.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
    max-width: 1100px;
    /* más ancho total */
    margin-left: auto;
    margin-right: auto;
}


.projects-section {
    flex-direction: column;
    padding: 4rem 5rem 6rem;
}

.projects-header {
    text-align: center;
    margin-bottom: 3rem;
}



.project-card-glass {
    background: rgba(255, 255, 255, 0.05);
    /* Transparente */
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 16px;
    padding: 2rem;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 500px;
    /* opcional: evita que se hagan gigantes en pantallas grandes */
    margin: 0 auto;
    /* centrado dentro de cada columna */
}

.project-card-glass:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
}

.project-card-glass .card-footer {
    justify-content: flex-start;
    gap: 1rem;
}

/* Contenedor general de la sección Proyectos */
.projects-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    width: 100%;
    align-items: start;
    
}

/* Columna izquierda (texto + tarjetas) */
.projects-content {
    display: flex;
    flex-direction: column;
}


.page-right img {
    width: 100%;
    max-width: 300px;
    /* o lo que necesites */
    height: auto;
    margin: 0 auto;
    /* centra horizontalmente */
}

.text-projects {
    width: 80%;
}

/* Responsive: 1 columna en pantallas chicas */
@media (max-width: 768px) {
    .projects-container {
        display: flex;
        flex-direction: column;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .page-right {
        display: block;
        margin-top: 2rem;
        text-align: center;
    }

    .page-right img {
        margin: 0 auto;
    }
}